@{
    ViewData["Title"] = "Pagina Inicial";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/download.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/images (1).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/images.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br/>
<div class="section-title">
    <h1>Bem vindo</h1>
    <h2>Tudo em um só lugar para gerência dos seus livros!</h2>
</div>

<br />
<div class="container">
    <div class="row justify-content-center specialities-links">
        <div class="col">
            <img src="~/images/Organizar-livros.jpg" style="width:50%;" />
            <h5>Gerencie seus Livros</h5>
        </div>
        <div class="col">
            <img src="~/images/alugai.jpg" style="width:50%;" />
            <h5>Alugue para outras pessoas</h5>
        </div>
        <div class="col">
            <img src="~/images/centralizacao.png" style="width:50%;" />
            <h5>Centralização das informações</h5>
        </div>
    </div>
</div>
