@model Livraria.Model.Models.Alugado

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Alugado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<<<<<<< HEAD

=======
>>>>>>> 5697e58303b24d13f8fb4ff21823e2bc6de277d1
            <div class="form-group">
                <label>Cliente</label>
                <select class="form-select" asp-for="IdCliente" id="ClienteName" asp-items="@ViewBag.IdClientes" disabled>
                    <option selected value="">Selecione um Cliente</option>
                </select>
                <select class="form-select" asp-for="IdCliente" id="ClienteName" asp-items="@ViewBag.IdClientes" hidden>
                    <option selected value="">Selecione um Cliente</option>
                </select>
<<<<<<< HEAD

            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
=======
>>>>>>> 5697e58303b24d13f8fb4ff21823e2bc6de277d1
            </div>
            <div class="form-group">
                <label>Livro</label>
                <select class="form-select" asp-for="IdLivro" id="LivroName" asp-items="@ViewBag.IdLivros">
                    <option selected value="">Selecione um Livro</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataRetorno" class="control-label"></label>
                <input asp-for="DataRetorno" class="form-control" disabled/>
                <input asp-for="DataRetorno" class="form-control" hidden/>
                <span asp-validation-for="DataRetorno" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Retornado" /> @Html.DisplayNameFor(model => model.Retornado)
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Alterar" class="btn btn-success" />
                |
                <a asp-action="Index" class="btn btn-primary">Retornar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
